{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition d'une conférence</h1>

    <div class="mdl-grid">
        <div class="mdl-cell--2-col">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ path('event_index') }}">Back to the list</a>
        </div>
        <div class="mdl-cell--2-col">
            {{ form_start(delete_form) }}
            <input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
        <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">
            {{ form_start(form) }}
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
                    {{ form_widget(form.title) }}
                    {{ form_label(form.title) }}
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                    {{ form_widget(form.description) }}
                    {{ form_label(form.description) }}
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
                    {{ form_widget(form.speaker) }}
                    {{ form_label(form.speaker) }}
                </div>
                <div class="mdl-cell--12-col">
                    {{ form_widget(form.schedule) }}
                    {{ form_label(form.schedule) }}
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="mdl-cell mdl-cell--3-col">&nbsp;</div>
    </div>
{% endblock %}
