{% extends 'base.html.twig' %}

{% block title %}
    {{ trans(title) }}
{% endblock %}

{% block js_end %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#message').summernote();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
                <p><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Evenement</p>

                <form action="#" method="post" class="form" role="form">
                    <label for="title">Titre</label>
                    <input class="form-control" name="title" id="title" required placeholder="Nom de l'évènement" type="text"
                           value="{{ event.title }}"/>

                    <label for="message">Description</label>
                    <textarea name="description" id="message" class="form-control" rows="9" cols="25"
                              required="required" placeholder="Message">{{ event.description }}</textarea>

                    <label for="datetime">
                        Date de l'évènement</label>
                    <input class="form-control" required type="date" name="datetime" id="datetime" value="{{ event.dateTime }}"/>

                    <label for="speaker">Speaker</label>
                    <input class="form-control" type="text" required id="speaker" name="speaker" value="{{ event.speaker }}"/>

                    <label for="location">Lieu</label>
                    <input class="form-control" required type="text" name="location" id="location" value="{{ event.location }}" />

                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Ajouter l'évènement
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
