{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="css/admin.css">
{% endblock %}

{% block title %}
    {{ trans(title) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>{{ trans('event.title.all') }}</h2>
    {% if 'ROLE_ADMIN' in user.roles %}<p><a href="/event/new">{{ trans('event.title.add') }}</a></p>{% endif %}
            <table class="points_table">
                <thead>
                <tr>
                    <th class="col-xs-4">{{ trans('event.title') }}</th>
                    <th class="col-xs-2">{{ trans('event.date') }}</th>
                    <th class="col-xs-2">{{ trans('event.speaker') }}</th>
                    <th class="col-xs-2">{{ trans('event.location') }}</th>
    {% if 'ROLE_ADMIN' in user.roles %}<th class="col-xs-2">{{ trans('event.delete') }}</th>{% endif %}
                </tr>
                </thead>

                <tbody class="points_table_scrollbar">
                {% for key,value in event_array %}
                    {% if  loop.index is odd %}
                        <tr class="odd"> {% else %} <tr class="even"> {% endif %}
                    <td class="col-xs-4"><a href="/event/{{ value.id }}">{{ value.title }}</a></td>
                    <td class="col-xs-2">{{ value.dateTime|date('d/m/Y') }}</td>
                    <td class="col-xs-2">{{ value.speaker }}</td>
                    <td class="col-xs-2">{{ value.location }}</td>
                    {% if 'ROLE_ADMIN' in user.roles %}<td class="col-xs-2">
                        <a class="btn icon-btn btn-danger" href="/event/delete/{{ value.id }}"><span
                                    class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>
                            {{ trans('event.delete') }}</a>
                    </td>{% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">Aucun evènement. {% if 'ROLE_ADMIN' in user.roles %}<a href="/event/new">Ajoutez en un !</a>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}