{% extends 'base.html.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 well well-sm">
                <a href="/">Retour à la liste</a> - <a href="/event/edit/{{ event.id }}">Modifier</a>
                <h2>{{ event.title }}</h2>
                <ul>
                    <li>Le {{ event.datetime|date('d/m/Y') }}</li>
                    <li>A {{ event.location }}</li>
                    <li>Par {{ event.speaker }}</li>
                </ul>
                <p>{{ event.description|raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
